html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  --c-blue: hsl(175, 85%, 33%);
  --c-orange: hsl(22, 61%, 52%);
  --c-main-dark: hsl(0, 0%, 18%);
  --c-main-dark-lighter: hsl(0, 0%, 30%);
  --c-main-light: hsl(193, 16%, 83%);
  background-color: var(--c-main-dark);
  color: var(--c-main-light);
  text-align: center;
  font-size: 62.5%;
}

.root {
  max-width: 1000px;
  margin: auto;
}

.title {
  color: var(--c-main-light);
  font-size: 7rem;
  font-weight: bold;
}

.turn-tracker {
  margin: 30px 0 100px;
}

.player {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
}

  .player--blue {
    color: var(--c-blue);
  }

  .player--inactive {
    visibility: hidden;
  }

  .player--orange {
    color: var(--c-orange);
  }

  .player__mark::before {
    content: ': ';
  }

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 600px;
  margin: auto;
}

  .board__cell {
    font-size: 5.5rem;
    border: 3px solid var(--c-main-light);
    padding: 20px 10px;
    min-height: 175px;
  }

    .board__cell--blue {
      color: var(--c-blue);
    }

    .board__cell--orange {
      color: var(--c-orange);
    }

    .board__cell--playable:hover {
      background-color: var(--c-main-dark-lighter);
      cursor: pointer;
    }

  .board :nth-child(3n) {
    border-right: none;
  }

  .board :nth-child(3n+1) {
    border-left: none;
  }

  .board :nth-child(-n+3) {
    border-top: none;
  }

  .board :nth-child(n+7) {
    border-bottom: none;
  }

  .modal {
    /* show above all except modal content */
    z-index: 1000;

    /* positioning & sizing */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    /* coloring */
    background-color: rgba(0, 0, 0, 0.5);
  }

    .modal--hidden {
      display: none;
    }

    .modal__btn {
      background-color: var(--c-main-light);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      padding: 5px;
      margin: 20px 0 20px;
    }

    .modal__btn:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .modal__btn--right {
      float: right;
    }

    .modal__content {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--c-blue);
      border-radius: 10px;
      font-size: 1.2rem;
    }

    .modal__input {
      background-color: var(--c-main-light);
      border: 2px solid var(--c-main-light);
      border-radius: 5px;
      color: var(--c-main-dark);
      font-size: 1.1rem;
      margin: 5px 0 20px;
      padding: 5px 10px;
    }

    .modal__input--text {
      width: 100%;
    }

    .modal__input[type=text]:focus {
      border: 2px solid var(--c-main-dark-lighter);
    }

    .modal__label {
      color: var(--c-main-light);
      font-size: 1.4rem;
      font-weight: bold;
    }

    .modal__row {
      text-align: left;
      padding: 0px 50px;
    }

    .modal__title {
      font-size: 3.5rem;
      font-weight: bold;
      padding: 20px;
    }